<h1>写真一覧</h1>

<div class="photos-toolbar">
  <%= link_to "写真をアップロード", new_photo_path %>
  <%= button_to "ログアウト", logout_path, method: :delete %>
</div>

<div class="photos-grid">
  <% @photos.each do |photo| %>
    <div class="photo-card">
      <% if photo.image.attached? %>
        <%= image_tag photo.image, class: "photo-card__image" %>
      <% end %>
      <p class="photo-card__title"><%= photo.title %></p>
    </div>
  <% end %>
</div>
